lib/
build/
include/cat/config.h
src/makefile

test/*
!test/*.[ch]
!test/*.awk
!test/*.pl
!test/Makefile
!test/pegs

conf/build_system.conf
conf/config.h
conf/platform.conf

src/.depend

utils/*
!utils/*.c
!utils/*.pp
!utils/Makefile
utils/rwatch.c

